*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    }
.app-space{
  max-width: 100%;
  margin: 3% 2% 0 2%;
  background-color:lightblue;
  align-items: center;
}
.navbar {

    border-bottom: solid;
}

.centre{
    text-align: center;
}

#title{
    font-size: 2rem;
}

.grid-container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    max-width: 100%;
  }

.grid-item {
    border-style: solid hidden hidden hidden;
    display: flex;
    align-items: center;
   }

.form {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1%;
  }
.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
  }

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }

.search-button img {
    width: 20px;
    object-fit: cover;
  }

.flex-container{
    display: grid;
    
    

  }

.flex-item{
  order: 2;
  border: solid;
  
}

.grid-container2{
  display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    column-gap: 7vw;
    margin-left: 5%;
}

.grid-item2{
  display: flex;
}

.icon-size{
  max-width: 50%;
}
