{% extends 'nav.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
        <!-- The meta tag -->
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta charset="utf-8">
        <title>Weather app</title>
        <link rel="stylesheet" href="..\static\css\style.css"> 
  </head>

  <body>
    <div class="app-space">

    <div class="grid-wrapper">
      <div class="g-item"><h2>Today</h2></div>
      <div class="g-item2"><h2>21°c</h2></div>
      <div class="g-item3"><img class="icon-size" src="..\static\img\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
      <!-- <div class="grid-container2">
        <div class="grid-item2"><img class="icon-size" src="..\static\img\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
        <div class="grid-item2"><img class="icon-size" src="..\static\img\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
        <div class="grid-item2"><img class="icon-size" src="..\static\img\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
        <div class="grid-item2"><img class="icon-size" src="..\static\img\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
        <div class="grid-item2"><img class="icon-size" src="..\static\img\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
        <div class="grid-item2"><img class="icon-size" src="..\static\img\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
        <div class="grid-item2"><img class="icon-size" src="..\static\img\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
      </div> -->
    </div>
   </div>
  </body>
</html>
{% endblock %}