{% extends 'nav.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
        <!-- The meta tag -->
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta charset="utf-8">
        <title>Weather app</title>
        <link rel="stylesheet" href="..\static\css\style.css"> 
        <script src="..\static\js\scripts.js"></script>
  </head>

  <body>
    <!--BM Home page that displays todays and weeks weather-->
    <div class="app-space">
      <!--Wrappers created to lay out elements on the page correctly-->
    <div class="grid-wrapper">
      <!--Todays temperature and icon-->
      <div class="g-item"><h2>Today</h2></div>
      <div class="g-item2"><h2 id="degrees">21°c</h2></div>
      <div class="g-item3"><img class="icon-size" src="..\static\img\icons\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
      </div>
      <!--Rest of the weeks icons and text-->
      <div class="grid-container2">
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy-with-sun.png" alt="cloudy-with-sun"><p>Partly Cloudy</p></div>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy-sun-rain.png" alt="cloudy-with-sun-and-rain"><p>Few Showers</p></div>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\sunny.png" alt="sunny"><p>Sunny</p></div>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy.png" alt="cloudy"><p>Cloudy</p></div>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy.png" alt="cloudy"><p>Cloudy</p></div>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy-with-fog.png" alt="cloudy-with-fog"><p>Fog</p></div>
    </div>
   </div>
       <!--Graphs and radar section-->
       <div class="graph-container">
        <img src="..\static\img\placeholder.png" alt="weather graph">
        <img src="..\static\img\placeholder.png" alt="weather radar">
      </div>
  </body>
</html>
{% endblock %}