{% extends 'nav.html' %}

{% block content %}
<!--html goes here-->
<head>
  <!-- The meta tag -->
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta charset="utf-8">
  <title>Weather app - Today</title>
  <link rel="stylesheet" href="..\static\css\style.css"> 
  <script src="..\static\js\scripts.js"></script>
</head>
<body>
  <div  class = "app-space" >
    <div class = "today-grid">
      <div>
        <div class = "today-info" >
          <div>
            <div class="g-item"><h2>Today</h2></div>
            <div class="g-item2"><h2 id="degrees">21°c</h2></div>
            
          </div>
          <div>
            <div ><img class="icon-size" src="\static\img\icons\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
          </div>
          <div>
            <div><h2 id="high">High 24 &#176c</h2></div>
            <div><h2 id="low">Low 18 &#176c</h2></div>
          </div>
        </div>
        
        <!--BW-create tabs buttons-->
        <div class="tab">
          <button class="tablinks" onclick="openInfo(event, 'in-depth')">In-Depth
          </button>
          <button class="tablinks" onclick="openInfo(event, 'hourly')">Hourly
          </button>
        </div>
        <!--BW- Create content inside tabs-->
        <div id="in-depth" class="tabcontent">
          <h3>In-Depth Look</h3>
          <div class="in-depth-grid">
            <div>
              <div><h3>Air Quality</h3></div>
              <div><p id="air">27</p></div>
            </div>
            <div>
              <div><h3>Wind Speed</h3></div>
              <div><p id="wind">8 km/h</p></div>
            </div>
            <div>
              <div><h3>Humidity</h3></div>
              <div><p id="humidity">93%</p></div>
            </div>
            <div>
              <div><h3>Visibility</h3></div>
              <div><p id="visibility">6.2km</p></div>
            </div>
            <div>
              <div><h3>Pressure</h3></div>
              <div><p id="pressure">29.71 mb</p></div>
            </div>
            <div>
              <div><h3>Dew Point</h3></div>
              <div><p id="dew">49&#176</p></div>
            </div>
          </div>
        </div>
        <div id="hourly" class="tabcontent">
          <h3>Hourly Temperatures</h3>
        </div>
      </div>
      <!--BW -create radar image-->
      <div class = "radar-block">
        <img class ="radar-img" src="/static/img/weather-radar-today-crop.png" alt="today weather radar">
      </div>
    </div>
    
  </div>
</body>
  
 

{% endblock %}