{% extends 'nav.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
        <!-- The meta tag -->
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta charset="utf-8">
        <title>Weather app - This Week</title>
        <link rel="stylesheet" href="..\static\css\style.css"> 
  </head>
  <body>
    <!--BM The week page with info based on the coming week-->
    <div class="week-space">
    <div class="week-container">
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
        <p>Weather</p>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy-sun-rain.png" alt="cloudy-with-sun-and-rain"></div>
        <p>Weather</p>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\sunny.png" alt="sunny"></div>
        <p>Weather</p>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy.png" alt="cloudy"></div>
        <p>Weather</p>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy.png" alt="cloudy"></div>
        <p>Weather</p>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy-with-fog.png" alt="cloudy-with-fog"></div>
        <p>Weather</p>
        
    </div>
</div>
  </body>
</html>
{% endblock %}