{% extends 'nav.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
        <!-- The meta tag -->
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta charset="utf-8">
        <title>Weather app - This Week</title>
        <link rel="stylesheet" href="..\static\css\style.css"> 
  </head>
  <body>
    <!--BM The week page with info based on the coming week-->
    <div class="week-space">
      <h1 id="week-title">This Week</h1>
      <!--Grid is used to layout each element-->
     <div class="week-container">
      <!--Container laying out the max space with the elements inside -->
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
        <h3>Partly Cloudy</h3>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy-sun-rain.png" alt="cloudy-with-sun-and-rain"></div>
        <h3>Few Showers</h3>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\sunny.png" alt="sunny"></div>
        <h3>Sunny</h3>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy.png" alt="cloudy"></div>
        <h3>Cloudy</h3>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy.png" alt="cloudy"></div>
        <h3>Cloudy</h3>
        <div class="grid-item2"><img class="icon-size2" src="..\static\img\icons\cloudy-with-fog.png" alt="cloudy-with-fog"></div>
        <h3>Fog</h3>    
    </div>
    <!--flex used to lay out both major elements-->
    <div class="flex">
    <div>
      <!--Smaller grids used for each day of the week-->
      <div class="week-grid">
       <div class="week-item"><img class="icon-resize" src="..\static\img\icons\cloudy-with-sun.png" alt="cloudy-with-sun"></div>
       <div class="week-item2"><p>High 24°c<br>Low 18°c</p></div>
       <div class="week-item3"><img class="icon-resize" src="..\static\img\icons\rain-percent.png" alt="rain chance"></div>
       <div class="week-item3"><img class="icon-resize" src="..\static\img\icons\wind.png" alt="wind speed"></div>
       <div class="week-item4"><p>Rain Chance 14%</p></div>
       <div class="week-item5"><p>Wind: 10kms</p></div>
      </div>
      <div class="week-grid">
        <div class="week-item"><img class="icon-resize" src="..\static\img\icons\cloudy-sun-rain.png" alt="cloudy-with-sun-and-rain"></div>
        <div class="week-item2"><p>High 19°c<br>Low 16°c</p></div>
        <div class="week-item3"><img class="icon-resize" src="..\static\img\icons\rain-percent.png" alt="rain chance"></div>
        <div class="week-item3"><img class="icon-resize" src="..\static\img\icons\wind.png" alt="wind speed"></div>
        <div class="week-item4"><p>Rain Chance 68%</p></div>
        <div class="week-item5"><p>Wind: 15kms</p></div>
      </div>
      <div class="week-grid">
        <div class="week-item"><img class="icon-resize" src="..\static\img\icons\sunny.png" alt="sunny"></div>
        <div class="week-item2"><p>High 24°c<br>Low 19°c</p></div>
        <div class="week-item3"><img class="icon-resize" src="..\static\img\icons\rain-percent.png" alt="rain chance"></div>
        <div class="week-item3"><img class="icon-resize" src="..\static\img\icons\wind.png" alt="wind speed"></div>
        <div class="week-item4"><p>Rain Chance 5%</p></div>
        <div class="week-item5"><p>Wind: 23kms</p></div>
      </div>
      <div class="week-grid">
        <div class="week-item"><img class="icon-resize" src="..\static\img\icons\cloudy.png" alt="cloudy"></div>
        <div class="week-item2"><p>High 21°c<br>Low 17°c</p></div>
        <div class="week-item3"><img class="icon-resize" src="..\static\img\icons\rain-percent.png" alt="rain chance"></div>
        <div class="week-item3"><img class="icon-resize" src="..\static\img\icons\wind.png" alt="wind speed"></div>
        <div class="week-item4"><p>Rain Chance 17%</p></div>
        <div class="week-item5"><p>Wind: 18kms</p></div>
      </div>
      <div class="week-grid">
        <div class="week-item"><img class="icon-resize" src="..\static\img\icons\cloudy.png" alt="cloudy"></div>
        <div class="week-item2"><p>High 22°c<br>Low 16°c</p></div>
        <div class="week-item3"><img class="icon-resize" src="..\static\img\icons\rain-percent.png" alt="rain chance"></div>
        <div class="week-item3"><img class="icon-resize" src="..\static\img\icons\wind.png" alt="wind speed"></div>
        <div class="week-item4"><p>Rain Chance 3%</p></div>
        <div class="week-item5"><p>Wind: 23kms</p></div>
      </div>
      <div class="week-grid">
        <div class="week-item"><img class="icon-resize" src="..\static\img\icons\cloudy-with-fog.png" alt="cloudy-with-fog"></div>
        <div class="week-item2"><p>High 24°c<br>Low 18°c</p></div>
        <div class="week-item3"><img class="icon-resize" src="..\static\img\icons\rain-percent.png" alt="rain chance"></div>
        <div class="week-item3"><img class="icon-resize" src="..\static\img\icons\wind.png" alt="wind speed"></div>
        <div class="week-item4"><p>Rain Chance 33%</p></div>
        <div class="week-item5"><p>Wind: 2kms</p></div>
      </div>      
    </div>
    <!--image payed out to the left with flex-->
    <div><img class="radar-resize" src="..\static\img\weather-radar-today-crop.png" alt="weather radar"></div>
    </div>
</div>
  </body>
</html>
{% endblock %}